*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Roboto;
    src: url(../font-family/Roboto-Regular.ttf);
}
body{
    font-family: Roboto;
}
.profilepage{
    display: flex;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.leftside{
width: 240px;
padding: 24px;
background: #ffffff;
border-radius: 8px 0px 0px 8px;
}
.logo{
    padding: 0px 18px;
}
.leftside_menu{
    list-style: none;
    margin: 58px 0px 126px;
    padding: 0px 18px;
}

.leftside_menu li a{
    text-decoration: none;
    font-size: 14px;
    color: #7D8690;
    padding: 26px 0px;
    display: block;
}
.leftside_menu li a span{
    padding-left: 18px;
}
.leftside_menu li a.active{
    background-color: #191919;
    color: #ffffff;
    border-radius: 5px;
    margin: 0px -22px;
    padding: 16px 22px;
    width: 189px;
}
.time_tracking{
    border-bottom: 1px solid #7D8690;
}
.creative_tool_area{
    background-image: url(../images/creative_tool.png);
    height: 312px;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

.question_tag{
    width: 43px;
    height: 43px;
    border-radius: 30px;
    background-color: #ffffff;
    background-image: url(../images/question_tag.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top:  10px;
    left: 70px;
}
.creative_content{
    padding: 32px 26px 26px;
}
.creative_title{
    font-size: 17px;
    color: #0D2238;
}
.creative_content_para{
    font-size: 14px;
    color: #7D8690;
    padding: 16px 0px;
    line-height: 20px;
}
.write_message{
    background: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    color: #0D2238;
    width: 140px;
    height: 43px;
    padding: 12px 0px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}
.mainpage{
    width: 1200px;
    background: #F2F5FA;
    border-radius: 8px;
    padding: 32px 50px 12px 40px;
}
.mainpage_header{
    display: flex;
    justify-content: space-between;
}
.searchbox{
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    width: 45px;
    height: 45px;
    border-radius: 4px;
    background-position: center;
}
.user{
    display: inline-block;
    vertical-align: top;
    margin: 6px 24px 0px 0px;
}
.box_icon,.mr_icon{
    margin: 0px 4px;
}
.user_account_name{
    font-size: 14px;
    color: #0D2238;
}
.user_account_email{
   font-size: 12px;
   color: #7D8690;
}
.down_arrow{
    display: inline-block;
    vertical-align: top;
    margin-top: 24px;
}
.user_details {
    margin: 32px 0px 12px;
}
.username{
    font-size: 40px;
    line-height: 47px;
    color: #0D2238;
}
.user_account_detail{
    font-size: 18px;
    line-height: 21px;
    color: #7D8690;
    padding-top: 8px;
}
.userworks{
    display: flex;
    /* margin: 0px -4px; */
    margin: 0px -18px;
}
.work{
    /* margin: 32px 4px; */
    margin: 36px 10px;
    background-color: #ffffff;
    border-radius: 9px;
    width: 351px;
    height: 240px;
    padding: 12px 24px;
    font-weight: bold;
}
.work_title{
    display: inline-block;
    padding: 12px 0px;
    font-size: 14px;
    color: #0D2238;
}
.add_sign{
    display: inline-block;
    padding: 12px 2px;
    color: #0D2238;
    font-size: 18px;
    font-weight: normal;
}
.add_sign{
    float: right;
}
.work_duration{
    margin: 8px 0px;
    background-color: #E5F8FC;
    width: 304px;
    height: 44px;
    padding: 14px 12px;
    font-size: 14px;
    color: #0D2238;
    display: flex;
    justify-content: space-between;
}
.time_duration{
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
}
.time_symbol{
    padding: 4px;
}
.document_symbol{
    padding: 6px;
}
.project_name{
    font-size: 14px;
    color: #0D2238;
    padding: 0px 12px;
}
.project_hour{
    font-size: 14px;
    color: #0D2238;
}
.log_border,.calendar_border,.document_border{
    color: #7D8690;
}

.work_firsttime{
    border-radius: 5px 5px 0px 0px;
}
.work_secondtime{
    border: 0px;
}
.work_thirdtime{
    border-radius: 0px 0px 5px 5px;
}
.record{
text-align: end;
margin: 8px 0px;
padding-right: 10px;
font-size: 13px;
color: #000000;
font-weight: normal;
}
.dots{
    position: relative;
    height: 8px;
    display: block;
}
.empty_report{
    display: block;
    padding: 0;
}
.log_border{
position: relative;
right: 12px;
}
.document_border{
    position: relative;
    right: 20px;
}
.pdf_border{
    position: relative;
    right: 8px;
}
.calendar{
    background: #EFF8F1;
    border-radius: 5px 5px 0px 0px;
}
.month_view {
    display: flex;
    overflow-x: scroll;
    overflow-y: auto;
    white-space: nowrap;
}
.month_view::-webkit-scrollbar{
    display: none;
}
.month{
    font-size: 24px;
    line-height: 28px;
    color: #9BA6B2;
    padding: 0px 64px;
}
.month.active{
    color: #0D2238;
}
.day_view{
    margin: 18px 0px 0px;
    display: flex;
    overflow-x: scroll;
    overflow-y: auto;
    white-space: nowrap;
}
.date{
    width: 47px;
    height: 47px;
    border-radius: 30px;
    padding: 14px;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    color: #0D2238;
    margin: 8px 20px;
    font-weight: bold;
}
.day_view::-webkit-scrollbar{
    display: none;
}
.date_border{
    border: 1px solid #000000;
}
.day{
text-align: center;
font-size: 14px;
line-height: 16px;
color: #7D8690;
}
.weekend{
background: #E2E9F5;;
}
.date.active{
    background: #191919;
    color: #ffffff;
}
.trackthor_plugin {
    display: flex;
    margin:64px 0px 0px;
}

.plugin{
    width: 258px;
    height: 47px;
    padding: 0px 4px;
    display: flex;
    justify-content: space-between;
    background-color: #E2E9F5;
}
.plugin_tiltle{
font-size: 16px;
line-height: 19px;
background: #E2E9F5;
color: #0D2238;
padding: 14px 18px;
height: 47px;
border-radius: 5px 5px 0px 0px;
font-weight: bold;
}
.plugin_downarrow{
    padding: 18px 8px 18px 0px;
}
.plugin_developer {
    width: 258px;
    height: 234px;
    padding: 0px 8px;
    background-color: #ffffff;
}
.developer_profile,.visual_designer_profile,.developer_profile{
    display: flex;
    padding: 16px 4px;
}
.developer_profile,.visual_designer_profile{
border-bottom: 1px solid #F2F5FA;
/* padding: 12px 4px; */
}
.icon{
width: 46px;
height: 46px;
border-radius: 5px;
padding: 12px;
}
.developer{
background: #E5F8FC;
}
.visual_designer{
background: #EFF8F1;
}
.ux_designer{
background: #F2EDFD;
}
.profile{
    padding: 8px 8px 8px 14px;
}
.profile_name{
font-size: 14px;
line-height: 16px;
color: #0D2238;
}
.profile_designation{
    padding: 4px 0px 0px;
    font-size: 12px;
    line-height: 14px;
    color: #7D8690;
}
.plugin_schedule {
    margin: 38px 0px;
}
.plugin_schedule_graph{
    width: 844px;
    height: 234px;
    background-color: #E8ECF3;
    border-radius: 8px;
    margin-top: -24px;
    padding: 12px 0px;
}
.client_workshop{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    border-radius: 5px;
    padding: 12px;
    width: 615px;
    height: 53px;
    margin: 10px auto;
}
.schedule_time{
    display: flex;
    position: relative;
    top:-26px;
}
.graph_time{
    padding: 0px 28px;
    font-size: 12px;
    color: #7d8690;
}
.time_diveder{
    border-top: 1px dashed #D1DBDE;
    transform: rotate(90deg);
    position: relative;
    width: 236px;
    top: 100px;
    margin-left: 176px;
    background-image: url(../images/top_triangle.png);
}
.client_border{
    border-bottom: 1px solid #F2F5FA;
    margin-top: -6px;
}
.meeting_border{
    border-bottom: 1px solid #F2F5FA;
}
.workshop_title,.standup_title,.boardmeeting_title {
    font-size: 14px;
    color: #ffffff;
}
.workshop_time,.standup_time,.boardmeeting_time{
    font-size: 13px;
    color: #8C92AC;
}
.workshop_people {
    display: flex;
}
.workshop{
    width: 35px;
    height: 33px;
   border-radius: 5px;
   margin: 0px 1px;
   padding: 6px;
}
.workshop_mentor{
background: #F2EDFD;
}
.workshop_place{
background: #EFF8F1;
}
.workshop_followers{
    background: #E5F8FC;
}
.meeting {
    display: flex;
}
.standupmeet{
    background-color: #000000;
    border-radius: 5px;
    padding: 12px;
    width: 131px;
    height: 53px;
    margin: 16px 32px;
}
.boardmeeting{
    background-color: #000000;
    border-radius: 5px;
    padding: 12px;
    width: 181px;
    height: 53px;
    margin: 16px 158px;
}
.holiday{
    background: #FFFFFF;
    border-radius: 5px;
    padding: 12px;
    width: 790px;
    height: 53px;
    margin: 8px auto;
}
.holiday_title{
    font-size: 14px;
    color: #0D2238;
}
.holiday_time{
    font-size: 13px;
    color: #8C92AC;
}
.borderline{
    border-left: 1px solid #D1DBDE;
    margin-left: 38px;
    position: relative;
    font-size: 16px;
    }
    
.border_first_smallline{
    border-left: 1px solid #D1DBDE;
    margin-left: 14px;
    position: relative;
    top:5px;
    font-size: 5px;
}
.border_second_smallline{
    border-left: 1px solid #D1DBDE;
    margin-left: 14px;
    position: relative;
    top: 5px;
    font-size: 5px;
}
.border_third_smallline{
    border-left: 1px solid #D1DBDE;
    margin-left: 14px;
    position: relative;
    top: 5px;  
    font-size: 5px;
}